<div>
  <!-- <..............About.............> -->

  <p
    id="about"
    class="flex justify-center mt-28 text-4xl font-bold text-yellow-400"
  >
    About Us
  </p>

  <div class="flex justify-between mt-10 about">
    <!-- <..............Image 1.............> -->
    <div class="img1">
      <img
        src="assets/image/pope.jpg"
        class="rounded-full w-[250px] h-[250px] border-4 border-yellow-400 rounded-ful"
      />
      <p class="text-center text-xl text-yellow-500">Pope Francis</p>
      <p class="text-center">Head of the Catholic Church</p>
    </div>

    <!-- <..............Image 2.............> -->
    <div class="img2">
      <img
        src="assets/image/Bishop.jpg"
        class="rounded-full w-[250px] h-[250px] border-4 border-yellow-400"
      />
      <p class="text-center text-xl text-yellow-500">
        Most.Rev.Dr George Antonysamy
      </p>
      <p class="text-center">Archbishop of Madras-Mylapore</p>
    </div>

    <!-- <..............Image 3.............> -->
    <div>
      <img
        src="assets/image/ronald.jpeg"
        class="rounded-full w-[250px] h-[250px] border-4 border-yellow-400"
      />
      <p class="text-center text-xl text-yellow-500">Rev.Fr.Ronald Richard</p>
      <p class="text-center">Archdiocesan Youth Director</p>
    </div>
  </div>

  <div
    class="flex flex-col gap-6 bg-yellow-500 h-auto mx-10 p-6 mt-3 rounded-xl text-yellow-50"
  >
    <p class="text-2xl font-bold">About Youth Commission Mylapore Madras</p>
    <p>
      Youth Commission Chennai is the umbrella youth organization of the
      Archdiocese of Madras-Mylapore consisting of movements: CCYM and
      YCS/YSM,<br />
      which strive to build a new society, God's kingdom based on the values of
      love, peace, truth, equality & justice.
    </p>

    <div
      class="flex bg-slate-50 text-yellow-400 font-bold max-w-max rounded-md py-2 px-5"
    >
      <p>Want to know more</p>
    </div>
  </div>
</div>
