<div id="contact" class=" bg-black w-full mt-5 h-auto">

    <div class="flex  px-6 contact">

        <div>
            <p class="text-white text-xl">OUR.LADY.OF.FATIMA, 1917</p>
            <p class="text-white mt-4"> “Say the Rosary every day to obtain peace <br>for the world.”</p>

        </div>

        <div class="text-white mt-6">

            <p class="text-xl">WEBSITE INFO</p>
            <p class="mt-4">Home</p> 
            <p >About us </p>
            <p >Teams</p>

        </div>

        <div class="text-white mt-7">

            <p class="text-xl">OUR ADDRESS</p>    
            <p class="mt-4">Archdiocesan Pastoral Centre <br> No.25, Rosary Church Road, Basha<br> Garden, Mylapore, Chennai, Tamil Nadu 600004</p>

        </div>
 
    </div>

    <div class="flex flex-col  justify-center bg-gray-950 h-14 contact">
    
        <p class="p-3 text-white ">YouthCommision.com © 2022 All rights reserved</p>

    </div>
</div>
  
