<div>
    
  <p
    id="photos"
    class="flex justify-center text-4xl font-bold text-yellow-400 mt-14"
  >
    Our Teams
  </p>

  <div >
    <div class="flex  mt-7  w-full gap-2  photos">
      <div class="w-full h-auto">
        <img
          src="assets/image/1.jpg"
          class="w-full h-80 object-cover rounded-lg"
        />
      </div>

      <div class="w-full h-auto">
        <img
          src="assets/image/2.jpg"
          class="w-full h-80 object-cover rounded-lg"
        />
      </div>

      <div class="w-full h-auto">
        <img
          src="assets/image/3.png"
          class="w-full h-80 object-cover rounded-lg"
        />
      </div>
    </div>

    <div class="flex mt-2  w-full gap-2  photos">
      <div class="w-full h-auto">
        <img
          src="assets/image/4.webp"
          class="w-full h-80 object-cover rounded-lg"
        />
      </div>

      <div class="w-full h-auto">
        <img
          src="assets/image/5.webp"
          class="w-full h-80 object-cover rounded-lg"
        />
      </div>

      <div class="w-full h-auto">
        <img
          src="assets/image/6.jpg"
          class="w-full h-80 object-cover rounded-lg"
        />
      </div>
    </div>

    <div class="flex mt-2 w-full gap-2  photos">
      <div class="w-full h-auto">
        <img
          src="assets/image/7.png"
          class="z-0 w-full h-80 object-cove rounded-lg"
        />
      </div>

      <div class="w-full h-auto">
        <img
          src="assets/image/8.jpg"
          class="w-full h-80 object-cove rounded-lg"
        />
      </div>

      <div class="w-full h-auto">
        <img
          src="assets/image/9.png"
          class="w-full h-80 object-cove rounded-lg"
        />
      </div>
    </div>
  </div>
</div>
