<!-- <..............head.............> -->

<div class="flex px-10 h-7 bg-yellow-400 text-white">
  <p>+919655051908</p>
</div>

<!-- <..............logo.............> -->

<div class=" flex items-center justify-between app">

    <div class="flex items-center">
      <img src="assets/image/logo.png" class="w-14 h-auto" />
    </div>

    <div class="flex flex-col mr-auto">
      <p>Youth Commission</p>
      <h6>Madrs Mylapore</h6>
    </div>

    <div class="flex list-none ">

    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
      <nav class="nav-bar">
      <!-- <li><a [routerLink]="['']">Home</a><li>

                    <li><a [routerLink]="['about']">About</a></li>

                    <li><a [routerLink]="['photos']">Photos</a></li>

                    <li><a [routerLink]="['contact']">Contact</a></li> -->
       <ul class="flex gap-6 mr-12 text-lg">
      <li><a href="#home" class="active">Home</a></li>
      <li><a href="#about" >About</a></li>
      <li><a href="#photos" >Photos</a></li>
      <li><a href="#contact">Contact</a></li></ul>
    </nav>

    <script>
      hamburger = document.querySelector(".hamburger");
      hamburger.onclick = function(){

        navBar = document.querySelector(".nav-bar");
        navBar.classList.toggle("active");
      }
    </script>

    </div>
  
</div>

<app-home></app-home>
<app-about></app-about>
<app-photos></app-photos>
<app-contact></app-contact>

<!-- <router-outlet></router-outlet> -->
