@media screen and (min-width:300px){
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width:760px){
    .home{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}